@model DoAn3.Models.Baidanhgia

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Baidanhgia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BdgNoidung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BdgNoidung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BdgLuotthich)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BdgLuotthich)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BdgTkNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BdgTkNavigation.TkMa)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BdgMa" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
