@model IEnumerable<DoAn3.Models.Baidanhgia>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BdgNoidung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BdgLuotthich)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BdgTkNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BdgNoidung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BdgLuotthich)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BdgTkNavigation.TkMa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BdgMa">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BdgMa">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BdgMa">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
